
td, th {
	border: 1px solid;
    background-color: darkolivegreen;
  }
  h1{
    color: white;
    font-family: Fantasy;
    text-align: center;
    font: bold 80px Poppins, Fantasy;
    background-image: linear-gradient(to left, violet, #9fa0ff, indigo, #9fa0ff, violet);
    border-radius: 150px; 
    }


