
td, th {
  border: 1px solid black;
  background-color: darkolivegreen;
  text-align: center;
  
  }
 h1{
  font-style: italic;
  color:dimgrey;
}
img{
  width: 100px;
  height: 100px;
  }

table {
  text-align: center;
  }
.facts{
  font-size: medium;
  font-weight: bold;
  }
